* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: white;
}

.align {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#game {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  border-collapse: collapse;
  vertical-align: auto;
  margin-top: 10%;
}

td {
  width: 100px;
  height: 100px;
  vertical-align: middle;
  margin-left: 3px;
  font-size: 60px;
  cursor: pointer;
}

#reset {
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}