* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url(https://img.elo7.com.br/product/original/1BC27D8/painel-festa-1x0-70cm-estadio-futebol-personalizados.jpg);
    background-size: cover;
}


/* id=# class=. */

#time {
    margin-top: 40px;
    font-family: system-ui;
    font-size: large;
    color: black;
}

#titulo {
    text-align: center;
    margin-top: 20px;
    font-family: Arial;
}

#cxbtn {
    text-align: center;
}

.btn {
    font-family: system-ui;
    font-size: medium;
    background: transparent;
    text-align: center;
    width: 15vw;
    height: 10vh;
    border: solid 1px black;
}

.btn:hover {
    font-family: system-ui;
    font-size: medium;
    background-color: black;
    text-align: center;
    width: 15vw;
    height: 10vh;
    border: solid 1px black;
    color: white ;
}

#estadio {
    text-align: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWh_5xw8ajrxXiZxgYk-e9dOASGdZKKom21w&usqp=CAU);
    
    margin: auto;
}

